<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036229269056-gnjcs9op61v4g6bh4rg0tb61ifvvaugs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036229269056-gnjcs9op61v4g6bh4rg0tb61ifvvaugs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1036229269056-87dvegl957sad1nuka44uj391qos14lu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8NbbcjyzyA9pcJ53iXhKOGRDbVLDXNMk</string>
	<key>GCM_SENDER_ID</key>
	<string>1036229269056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>taiwan.no.one.ricemaster.RiceMaster</string>
	<key>PROJECT_ID</key>
	<string>rice-sake-master</string>
	<key>STORAGE_BUCKET</key>
	<string>rice-sake-master.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036229269056:ios:19280cf54a9763697eb1a5</string>
</dict>
</plist>